.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
.github/**
docs/**
example/**
public/logo.png
ROADMAP.md
commitlint.config.js
.gitignore
.yarnrc
.env
*.vsix
**/*.map
**/*.ts
**/tsconfig.json
**/eslint.config.mjs
vsc-extension-quickstart.md